#menu {
    background: #535864;
}

.menuDerecha {
    float: right;
}

#conf {
    font-size: 1.3rem;
    font-family: 'Roboto';
}

#textoConf {
    color: white;
    font-size: 1rem;
    font-weight: 550;

}

#textoMenu {
    font-size: 1rem;
    color: rgb(179, 177, 177);
    font-weight: 500;
}

#textoTicket {
    color: rgb(28, 182, 26);
    font-size: 1rem;
    font-weight: 400;
}

.btnVerde {
    color: rgb(28, 182, 26);
}

.carousel-inner{
    max-width: 100%;
    height: 30rem;
  
}

.imagen{
    filter: brightness(0.6)
}

.carousel-caption {
    text-align: right;
    color: white;
    position: absolute;
    right: 10rem;
    top: 10rem;
    left: 43 rem auto;
    
}

.textoOradores{
    display: flex;
    align-items: center;
    font-family: 'Corbel';
    
}

.fs-2{
    font-weight: bold;
}

.btnAmarillo{
    background-color: rgb(254, 193, 7);
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    padding: .3 rem 0.5rem;
    font-size: .7rem;


}

.btnAzul{
    background-color: rgb(23, 162, 183);
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    padding: .3 rem 0.5rem;
    font-size: .7rem;
    color: white;
}

.btnGris{
    background-color: rgb(109, 116, 126);
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    padding: .3 rem 0.5rem;
    font-size: .7rem;
    color: white;
}
.btnRojo{
    background-color: rgb(219, 52, 69);
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    padding: .3 rem 0.5rem;
    font-size: .7rem;
    color: white;
}

.cuadroPlaya{
    max-width: 100%;
  
}
.textoOctubre{
    background: #535864;
    color: white;
    font-family: 'Corbel';
}

.estudiante{
    border-color: blue;
    padding: 5px;
}

.trainee{
    border-color: rgb(0, 255, 242);
    padding: 5px;
    margin-left: 100px;
}

.junior{
    border-color: rgb(249, 213, 123);
    padding: 5px;
    margin-left: 100px;
}

.preciot{
    font-weight: bolder;
}

.algot{
    font-size: 18px;
}
.letrachicat{
    font-size: 12px;
}

.titulo{
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: x-large;
    font-weight: bolder;
    
}
.textoT{
    margin-left: 1.5rem;
   text-align: left; 
    margin-right: 2rem;
}

.conocesMas{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
   
}

.enviar{
    background-color: rgb(150, 201, 62);
    border: 0;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    
    font-size: 1.3rem;
    color: white;

}

.piePagina{
    margin-top: 40px;
    background: #535864;
    height: auto;
    padding: .9rem;
}


@media (max-width:540px){
    .carousel-caption{
        transform: scale(0.5);
        margin-right: -90px;
    }
}

@media (max-width: 280px){
    .carousel-caption{
        transform: scale(0.3);
    }
}




